$color-dark: #000000;
$color-light: #ffffff;

$color-primary: #000;
$color-secondary:#f4f7f6;
$color-gray:  #303030;

$color-red: #e50914;

$content-width: 1400px;
$tablet-width: 960px;
$mobile-width: 640px;