.header__button {
    margin-top: 10px;
}

.button {
    border: none;
    font-size: 1.875rem;
    height: 50px;
    min-width: 74px;
    color: $color-light;

    box-shadow: 0 1px 0 rgba(0, 0, 0, .45);
    padding: 5px 20px;
    background-color: $color-dark;

    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    border-radius: 2px;
    text-align: center;
    @include font($size: 1.2rem);
    text-transform: uppercase;
}

.button-gray {
    background-color: $color-gray-lighten;
    color: $color-red;

    &:hover {
        background-color: lighten($color: $color-gray-lighten, $amount: 10%);
    }
}

.button-red {
    background-color: $color-red;
    color: $color-light;

    &:hover {
        background-color: lighten($color: $color-red, $amount: 10%);
    }
}

.button-close{
    color: $color-light;
    cursor: pointer;

    &:hover{
        color: darken($color: $color-light, $amount: 20%)
    }
}